.imageBox {
  width: 200px;
  margin: 0 20px 20px 0;
}

.imageBox img{
  width: 100%;
  height: auto;
  float: left;
  padding-right: 10px;
}

.contentBox{
  margin-left: 70px;
  margin-right: 100px;
  padding-bottom: 50px;
}

p {
  width: 100%;
}

.contact {
  position: absolute;
  right: 175px;
  top: 80px;
  text-align: center;
  border: solid;
  border-color: #4aaaa5;
  padding-bottom: 10px;
  width: 270px;
  background: #ffffff;
}


#menu{
  float: right;
  position: absolute;
  right: 275px;
  top: 17px;
}

.fa {
  width: 70px;
  height: auto;
}

footer{
  color: white;
  clear: both;
  text-align: center;
  background: #666666;
  width: 100%;
  position: fixed;
  height: 100px;
  line-height: 90px;
  border-top: solid;
  border-color: #4aaaa5;
  bottom: 0px;

}

#submission {
  font-family: font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 650px;
  margin-top: 10px;
  font-style: bold;
  padding-bottom: 10px;
}



.contactBox {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 60px;
  height: 100%;
  width: 670px;
  background: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

#name {
  width: 100px;
  height: 40px;
  font-weight: bold;
  background: #4aaaa5;
  text-align: center;
  padding-top: 20px;
}

.InputName{
  width: 100%;
  height: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.email {
  width: 100%;
  height: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.message {
  width: 50%;
  height: 20px;
  font-weight: bold;
}

#textbox {
  width: 50%;
}

a {
  text-decoration: none;
}

a:hover {
    color: blue;
}

.projectBox {
  width: 320px;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 50px;
  height: 100%;
  background: #ffffff;
}

#title1 {
  position: absolute;
  top: 225px;
  left: 78px;
  background: black;
  width: 150px;
  color: white;
  text-align: center;
  height: 30px;

}

#title2 {
  position: absolute;
  top: 375px;
  left: 78px;
  background: black;
  width: 150px;
  color: white;
  text-align: center;
  height: 30px;
}

#title3 {
  position: absolute;
  top: 525px;
  left: 78px;
  background: black;
  width: 150px;
  color: white;
  text-align: center;
  height: 30px;
}

#title4 {
  position: absolute;
  top: 225px;
  left: 232px;
  background: black;
  width: 150px;
  color: white;
  text-align: center;
  height: 30px;
}

#title5 {
  position: absolute;
  top: 375px;
  left: 232px;
  background: black;
  width: 150px;
  color: white;
  text-align: center;
  height: 30px;

}

h1{
  margin-left: 25px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#about{
  border: solid;
  border-color: #4aaaa5;
  width: 600px;
  padding-left: 10px;
  background: #ffffff;
}

.projects img {
  border: solid;
  border-color: #4aaaa5
}

#name {
  margin-left: 70px;
}

#about img{
  width: 100%;
  height: auto;
  float: left;
  padding-right: 10px;
}

.container{
  background: url(sayagata-400px.png) no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding-top: 20px;
   
  }

  #navBar {
    background: #ffffff;
  }

  html {
    background: url(sayagata-400px.png) no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
